In [43]:
import pandas as pd
data=[5,3,6,8,2,9]
pd.Series(data)

0    5
1    3
2    6
3    8
4    2
5    9
dtype: int64

In [9]:
import pandas as pd
data=[5,3,6,8,2,9]
s=pd.Series(data) #method()
print("sum=",s.sum())
s.values #attribute
#s.index

sum= 33

array([5, 3, 6, 8, 2, 9], dtype=int64)

In [11]:
import pandas as pd
fruits=['Apple','banana','mango','watermelon']
weekdays=['son','mon','tue','wed']
pd.Series(data=fruits,index=weekdays)

son         Apple
mon        banana
tue         mango
wed    watermelon
dtype: object

In [14]:
import pandas as pd
pd.read_csv("test1.csv")

   index  value
0      1      5
1      2      4
2      3      3
3      4      5
4      6      8
5      7      9
6      8      5
7      9     18
8     10     12

In [15]:
import pandas as pd
pd.read_csv("test1.csv",squeeze=True,usecols=['value'])

0     5
1     4
2     3
3     5
4     8
5     9
6     5
7    18
8    12
Name: value, dtype: int64

In [52]:
import pandas as pd
values=pd.read_csv("test1.csv",squeeze=True,usecols=['value'])
values.head()

0    5
1    4
2    3
3    5
4    8
Name: value, dtype: int64

In [53]:
print(value.values)
print(value.is_unique)
print(value.ndim)
print(value.shape)

[ 5  4  3  5  8  9  5 18 12]
False
1
(9,)

In [29]:
import pandas as pd
data=pd.read_csv("test1.csv",squeeze=True,usecols=['value'])
print(data.sort_values())
print(data.sort_values().head())

2     3
1     4
0     5
3     5
6     5
4     8
5     9
8    12
7    18
Name: value, dtype: int64
2    3
1    4
0    5
3    5
6    5
Name: value, dtype: int64

In [34]:
import pandas as pd
data=pd.read_csv("test1.csv",squeeze=True,usecols=['value'])
print(data.sort_values(ascending=False))
print(data.head())

7    18
8    12
5     9
4     8
6     5
3     5
0     5
1     4
2     3
Name: value, dtype: int64
0    5
1    4
2    3
3    5
4    8
Name: value, dtype: int64

In [37]:
import pandas as pd
data=pd.read_csv("test1.csv",squeeze=True,usecols=['value'])
print(data.sort_values(ascending=False,inplace=True))
print(data.head())

None
7    18
8    12
5     9
4     8
6     5
Name: value, dtype: int64

In [49]:
import pandas as pd
idx=pd.read_csv("test1.csv",squeeze=True,usecols=['index'])
print(idx.sort_index(ascending=False))
print(idx.sort_index(ascending=False,inplace=True))
print(idx.head())

8    10
7     9
6     8
5     7
4     6
3     4
2     3
1     2
0     1
Name: index, dtype: int64
None
8    10
7     9
6     8
5     7
4     6
Name: index, dtype: int64

In [51]:
import pandas as pd
values=pd.read_csv("test1.csv",squeeze=True,usecols=['value'])
print(values)
print(values[5])
print(values[2:6])
print(values[[3,2,1]])

0     5
1     4
2     3
3     5
4     8
5     9
6     5
7    18
8    12
Name: value, dtype: int64
9
2    3
3    5
4    8
5    9
Name: value, dtype: int64
3    5
2    3
1    4
Name: value, dtype: int64

In [77]:
#index label
import pandas as pd 
print(pd.read_csv("test1.csv"))
data=pd.read_csv("test1.csv",index_col="index",squeeze=True)
print(data)
print(data.sort_index(inplace=True))
print(data[10])
print(data.get([4,7]))
print(data.get(6))

   index  value
0      1      5
1      2      4
2      3      3
3      4      5
4      6      8
5      7      9
6      8      5
7      9     18
8     10     12
index
1      5
2      4
3      3
4      5
6      8
7      9
8      5
9     18
10    12
Name: value, dtype: int64
None
12
index
4    5
7    9
Name: value, dtype: int64
8

import pandas as pd

In [6]:
import pandas as pd
MathData=pd.read_csv("test1.csv",squeeze=True,usecols=['value'])
print(MathData)
print(MathData.value_counts())
data=MathData.head()
print(data)
print(MathData.mean())
print(data.mean())
print(MathData.idxmax())
print(MathData.max())

0     5
1     4
2     3
3     5
4     8
5     9
6     5
7    18
8    12
Name: value, dtype: int64
5     3
12    1
9     1
8     1
4     1
3     1
18    1
Name: value, dtype: int64
0    5
1    4
2    3
3    5
4    8
Name: value, dtype: int64
7.666666666666667
5.0
7
18

In [9]:
import pandas as pd 
print(pd.read_csv("test1.csv"))
data=pd.read_csv("test1.csv",index_col="index",squeeze=True)
print(data)
print(data.value_counts())
print(data.value_counts().sum(),data.count())

   index  value
0      1      5
1      2      4
2      3      3
3      4      5
4      6      8
5      7      9
6      8      5
7      9     18
8     10     12
index
1      5
2      4
3      3
4      5
6      8
7      9
8      5
9     18
10    12
Name: value, dtype: int64
5     3
12    1
9     1
8     1
4     1
3     1
18    1
Name: value, dtype: int64
9 9

In [16]:
import pandas as pd
data=pd.read_csv("test1.csv",squeeze=True,index_col="index")

In [18]:
def perform(number):
    if number > 10:
        print("number is greater than ten")
    elif number >= 5 and number <= 10:
        print('number is between 5 and 10')
    else: 
        print('number is less than ten')

In [19]:
data.apply(perform)

number is between 5 and 10
number is less than ten
number is less than ten
number is between 5 and 10
number is between 5 and 10
number is between 5 and 10
number is between 5 and 10
number is greater than ten
number is greater than ten

index
1     None
2     None
3     None
4     None
6     None
7     None
8     None
9     None
10    None
Name: value, dtype: object

In [23]:
import pandas as pd
data=pd.read_csv("test1.csv",squeeze=True,usecols=['value'])
print(data)
def perform(number):
    if number > 10:
        return "number is greater than ten"
    elif number >= 5 and number <= 10:
        return 'number is between 5 and 10'
    else: 
        return 'number is less than five'
data.apply(perform)

0     5
1     4
2     3
3     5
4     8
5     9
6     5
7    18
8    12
Name: value, dtype: int64

0    number is between 5 and 10
1      number is less than five
2      number is less than five
3    number is between 5 and 10
4    number is between 5 and 10
5    number is between 5 and 10
6    number is between 5 and 10
7    number is greater than ten
8    number is greater than ten
Name: value, dtype: object

In [25]:
import pandas as pd
data=pd.read_csv("test1.csv",squeeze=True,index_col="index")
print(data)
data.apply(lambda value:value+1)

index
1      5
2      4
3      3
4      5
6      8
7      9
8      5
9     18
10    12
Name: value, dtype: int64

index
1      6
2      5
3      4
4      6
6      9
7     10
8      6
9     19
10    13
Name: value, dtype: int64